.recommended-friends {
  margin: 15px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  display: flex;
  flex-direction: column;
}
.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 85px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends img {
  height: 200px;
  width: auto;
  margin-top: 10px;
  border-radius: 20px;
}

.recommended-friends img:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 0px 10px var(--font-purpple);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 13px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.open-post__column,
.open-post2__column {
  margin-left: 30px;
}

.open-post__title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}

.open-post__hashtags {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}

.open-post__photo {
  position: relative;
  margin-bottom: 7px;
  margin-right: 15px;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 12px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

.open-post2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post2__title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}

.open-post2__hashtags {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}

.open-post2__photo {
  position: relative;
  margin-top: 10px;
  margin-right: 15px;
}

.open-post2__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post2__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post2__heart-count span {
  margin-left: 3px;
}

.open-post2__photo:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
