#friends-display-link {
  text-align: center;
  display: block;
  background-color: #ded7f0;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friend-screen__friends {
  overflow: scroll;
  height: 500px;
}

.friend-screen__friends::-webkit-scrollbar {
  width: 1px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  color: #ffff;
  background: linear-gradient(to bottom right, #654ea3, 70%, #eaafc8);
  animation: hideSplashScreen 0.7s ease-in-out forwards;
  animation-delay: 2s;
}

#splash-screen img {
  width: 200px;
  height: 200px;
}

#splash-screen__img {
  width: 200px;
  height: 200px;
  animation: round 2.2s ease-in-out;
}

@keyframes round {
  0% {
    transform: rotate(-540deg) scale(0);
    transform-origin: 100% 50%;
  }
  100% {
    transform: rotate(0) scale(1);
    transform-origin: 100% 50%;
  }
}
