.wallet {
  background-color: white;
  border-radius: 20px;
  height: 10vh;
  padding: 20px;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet-header__title {
  width: 60%;
  font-size: 25px;
  display: flex;
  font-weight: bold;
}

.wallet-header__title h2 {
  margin-right: 10px;
}

.wallet-noti {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.wallet-noti__icon {
  margin-right: 10px;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(44, 76, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-noti:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 10px;
  position: relative;
  padding-top: 10px;
}

.more-suggestions img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.more-suggestions img:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.ad {
  width: 40px;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.more-suggestions__title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.more-suggestions__icons {
  display: flex;
}

.weather {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  border-radius: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  color: white;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.weather-info__weather {
  display: flex;
  font-size: 30px;
  margin-left: 10px;
}

.weather-info__weather i {
  margin-right: 5px;
  color: rgb(255, 157, 66);
  animation: weatherMove 1s linear infinite;
}

.weather-info__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.weather-info__subtitle span:last-child {
  color: rgb(4, 0, 255);
}

.weather-info__icon {
  margin-left: 100px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes weatherMove {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}
