#no-mobile {
  display: none;
  flex-direction: column;
}

@media screen and (min-width: 580px) {
  #no-mobile {
    position: fixed;
    z-index: 99;
    height: 100vh;
    background-color: #ded7f0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
    overflow: hidden;
  }
}

#no-mobile img {
  width: 250px;
  height: 250px;
}
